.container{

    height: 500px;
    width: 100%;
    background-image: url("./images/hero.png");
    background-size: cover;
}
.topCont{
    display:flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 100%;
    background-color: brown;
}
#login{
    background-color: lawngreen;
    width: 300px;
    display: inherit;
    align-items: inherit;
    justify-content: space-evenly;
}