.container{
    color:white;
    height: 500px;
    width: 100%;
    background-image: url("./images/hero.png");
    background-size: cover;
}
.topCont{
    display:flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 100%;
    background-color: brown;
}
#login{
    width: 300px;
    display: inherit;
    align-items: inherit;
    justify-content: space-evenly;
}
#login button{
    height: 30px;
    width: 150px;
    text-align: start;
    background-color: #23A6F0;
    color: white;
    border-radius: 5px;
    border: 1px solid #23A6F0;
    
}
